<!DOCTYPE html>
<html>
  <head>
    <title>Account Information</title>
    <script src="/js/auth/account-info.js" defer></script>
    <link rel="stylesheet" href="/styles/auth/account-info.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <main class="container">
          <section class="account--header">
            <h1 class="heading-primary">Account information</h1>
          </section>

          <section class="account-main--container">
            <div class="delete-account-modal-overlay">
              <div class="delete-account-modal">
                <i
                  class="fa-solid fa-triangle-exclamation delete-account-icon"
                ></i>
                <span class="delete-account-title">Delete Account?</span>
                <span class="delete-account-desc"
                  >You are about to delete your account. This action cannot be
                  undone.</span
                >
                <div class="delete-account-btn-container">
                  <button class="delete-account-btn--cancel">Cancel</button>
                  <button class="delete-account-btn--delete">Delete</button>
                </div>
              </div>
            </div>

            <div class="delete-pending-modal-overlay">
              <div class="delete-pending-modal">
                <i
                  class="fa-solid fa-triangle-exclamation delete-pending-icon"
                ></i>
                <span class="delete-pending-title"
                  >Delete Pending Submission?</span
                >
                <span class="delete-pending-desc"
                  >You are about to delete your pending submission. This action
                  cannot be undone.</span
                >
                <div class="delete-pending-btn-container">
                  <button class="delete-pending-btn--cancel">Cancel</button>
                  <button class="delete-pending-btn--delete">Delete</button>
                </div>
              </div>
            </div>

            <div class="account-info">
              <div class="account-info-head-text-container">
                <span class="account-info-head-text"
                  >Joined: <%= user.timestamp %></span
                >
                <span class="account-info-head-text">&bull;</span>
                <span class="account-info-head-text"
                  >Authenticated with: <%= user.authenticated_with %></span
                >
                <% if (user.is_admin) { %>
                <span class="account-info-head-text">&bull;</span>
                <span class="account-info-head-text">Admin</span>
                <% } %>
              </div>

              <div class="account-info-input-container">
                <span class="account-info-text">Username</span>
                <input
                  type="text"
                  id="username"
                  class="account-info-input"
                  placeholder="Username"
                  value="<%= user.username %>"
                />
                <div id="username-hint" class="input-hint hidden"></div>
                <span class="account-info-text">Email</span>
                <input type="email" id="email" class="account-info-input"
                placeholder="Email" <%- user.authenticated_with === "site" ? ""
                : "disabled" %> value="<%= user.email %>" />
              </div>
              <button
                id="apply-changes-btn"
                type="button"
                class="account-info-btn"
                disabled
              >
                Apply changes
              </button>
            </div>

            <div id="my-submissions" class="user-submissions-header">
              <h2 class="heading-secondary">My submissions</h2>
            </div>
            <% if (pendingSubmissions.length || userSubmissions.length) { %>
            <div class="user-submissions-wrapper">
              <% if (pendingSubmissions.length) { %>
              <div class="user-submissions-header--small pending--header">
                <h3 class="heading-tertiary">Pending</h3>
              </div>
              <div class="pending-submissions-container">
                <% pendingSubmissions.forEach((submission) => { const mainArtist
                = submission.data.artists.find((artist) => artist.role ===
                "Main").name; %>
                <div class="user-submission--pending">
                  <div class="user-submission--left">
                    <div class="user-submission--top">
                      <% let songImgSrc; if (submission.data.songFilled) {
                      songImgSrc =
                      `/uploads/images/approved/${submission.data.songImg}`; }
                      else { songImgSrc =
                      `/uploads/images/pending/${submission.data.songImg}`; } %>
                      <img
                        src="<%= songImgSrc %>"
                        alt="<%= submission.data.songTitle %> Cover"
                        class="user-submission--img"
                      />
                      <div class="user-submission--title-container">
                        <span class="user-submission--text-secondary"
                          ><%= mainArtist%></span
                        >
                        <span class="user-submission--text-primary"
                          ><%= submission.data.songTitle%></span
                        >
                        <span class="user-submission--time"
                          ><%= submission.submitted_at %></span
                        >
                      </div>
                    </div>

                    <hr class="user-submisson--hr" />
                    <div class="user-submission--preset-list-container">
                      <% submission.data.synths.forEach(function(synth) {
                      synth.presets.forEach((preset) => { %>
                      <div class="user-submission--icon-container">
                        <i
                          class="fa-solid fa-sliders user-submission--icon"
                        ></i>
                        <span class="user-submission--text-tertiary">
                          <%= preset.name %>
                        </span>
                      </div>
                      <% }); }); %>
                    </div>
                  </div>

                  <input
                    type="hidden"
                    value="<%= submission.id %>"
                    name="submissionId"
                  />
                  <button
                    type="button"
                    id="delete-btn"
                    class="user-submission--delete-pending"
                    onclick="showDeletePendingModal(this)"
                  >
                    <i class="fa-solid fa-trash delete--icon"></i>
                  </button>
                </div>
                <% }) %>
              </div>

              <% } %> <% if (userSubmissions.length) { %>
              <div class="user-submissions-header--small">
                <h3 class="heading-tertiary">Approved</h3>
              </div>
              <div class="user-submissions-container">
                <% userSubmissions.forEach((submission) => { %>
                <a
                  href="/song/<%= submission.song_id %>"
                  class="user-submission--approved"
                >
                  <div class="user-submission--top">
                    <img
                      src="/uploads/images/approved/<%= submission.song_image %>"
                      alt="<%= submission.song_title %> Cover"
                      class="user-submission--img"
                    />
                    <div class="user-submission--title-container">
                      <span class="user-submission--text-secondary"
                        ><%= submission.artist_name %></span
                      >
                      <span class="user-submission--text-primary"
                        ><%= submission.song_title %></span
                      >
                      <span class="user-submission--time"
                        ><%= submission.timestamp %></span
                      >
                    </div>
                  </div>
                  <hr class="user-submisson--hr" />
                  <div class="user-submission--preset-list-container">
                    <% submission.presets.forEach((preset) => { %>
                    <div class="user-submission--icon-container">
                      <i class="fa-solid fa-sliders user-submission--icon"></i>
                      <span class="user-submission--text-tertiary">
                        <%= preset.preset_name %>
                      </span>
                    </div>
                    <% }) %>
                  </div>
                </a>
                <% }) %>
              </div>
              <% } %>
            </div>
            <% } else { %>
            <div class="no-submissions-container">
              <span class="no-submissions-text"
                >No submissions yet. Submit a preset
                <a href="/submit">here</a>.</span
              >
            </div>
            <% } %>

            <div class="account-info-footer">
              <div class="btn-container">
                <button id="sign-out-btn" type="button" class="sign-out-btn">
                  Sign Out
                </button>
                <button
                  id="delete-account-btn"
                  type="button"
                  class="delete-account-btn"
                >
                  Delete Account
                </button>
              </div>
              <div id="footer-hint" class="input-hint hidden"></div>
            </div>
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
