<!DOCTYPE html>
<html>
  <head>
    <script src="/assets/scroll_to_top.js" defer></script>
    <script src="/assets/browse/browse_presets.js" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All songs</title>
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/browse/browse_presets.css" />
    <link rel="stylesheet" href="/styles/tags.css" />
  </head>
  <body
    style="opacity: 0; transition: opacity 0.3s ease"
    onload="document.body.style.opacity='1'"
  >
    <%- include('../partials/navbar') %>
    <div class="content animate">
      <div class="header">
        <h1>All presets</h1>
        <span class="results-count"><%= totalResults %> presets</span>
      </div>
      <main>
        <div class="results-filters-main-container">
          <div class="results-view-mode-btn-container">
            <button
              id="list-btn"
              class="material-icons results-view-btn results-view-btn--active"
            >
              menu
            </button>
            <button id="grid-btn" class="material-icons results-view-btn">
              window
            </button>
          </div>
          <div class="result-filter">
            <input
              type="text"
              placeholder="Filter results"
              class="result-filter--input"
            />
            <span class="material-icons result-filter--clear">close</span>
          </div>
          <div class="filter-tag-container"></div>

          <div class="result-sort-dropdown">
            <button class="result-sort-btn">
              <p>Sort</p>
              <span class="material-icons">sort</span>
            </button>
            <div class="result-sort-content">
              <div id="preset" class="result-sort-content--item">
                <span>Preset</span>
                <span class="material-icons">tune</span>
              </div>
              <div id="synth" class="result-sort-content--item">
                <span>Synth</span>
                <span class="material-icons">piano</span>
              </div>
              <div id="added" class="result-sort-content--item">
                <span>Added</span>
                <span class="material-icons">schedule</span>
              </div>
            </div>
          </div>
        </div>

        <!-- List view -->
        <div class="list-view-container">
          <div class="result-columns grid-layout--list">
            <span class="result-columns--name">#</span>
            <span class="result-columns--name">Name</span>
            <span class="result-columns--name">Synth</span>
            <span class="result-columns--name">Pack</span>
            <span class="result-columns--name">Author</span>
          </div>
          <% Object.entries(presets).forEach(([i, preset]) => { %>
          <div class="result-entry grid-layout--list">
            <span class="result-entry--number"><%= +i + 1 %></span>
            <div class="result-entry--title-container">
              <img src="<%= preset.synth_image %>" class="result-entry--img" />
              <span class="result-entry--preset-name">
                <%= preset.preset_name %></span
              >
            </div>
            <span class="result-entry--synth-name"
              ><%= preset.synth_name %></span
            >
            <span class="result-entry--pack-name"
              ><%= preset.preset_pack_name %></span
            >
            <span class="result-entry--author"
              ><%= preset.preset_author %></span
            >
            <a
              href="/synth/<%= preset.synth_id %>"
              class="material-icons open-btn"
              >open_in_new</a
            >
          </div>
          <% }) %>
        </div>

        <!-- Grid view -->
        <div class="grid-view-container hide">
          <div class="grid-layout--card">
            <% Object.entries(presets).forEach(([i, preset]) => { %>
            <div class="card-entry">
              <img src="<%= preset.synth_image %>" class="card-entry--img" />
              <% if (preset.is_new) { %>
              <span class="status status--new">New</span>
              <% } %>
              <div class="card-entry--info-container">
                <div class="card-entry--title-container">
                  <a
                    href="/synth/<%= preset.synth_id %>"
                    class="card-entry--synth-name"
                    ><%= preset.synth_name %></a
                  >
                  <span class="card-entry--preset-name"
                    ><%= preset.preset_name %></span
                  >
                </div>
                <div class="card-entry--pack-container">
                  <div class="card-entry--pack-title-container">
                    <span class="material-icons card-entry--pack-icon"
                      >archive</span
                    >
                    <span class="card-entry--pack-name"
                      ><%= preset.preset_pack_name %></span
                    >
                  </div>
                  <div class="card-entry--author-container">
                    <span class="material-icons card-entry--author-icon"
                      >person</span
                    >
                    <span class="card-entry--author"
                      ><%= preset.preset_author %></span
                    >
                  </div>
                </div>
                <div class="card-entry--footer">
                  <span class="card-entry--added"
                    >Added: <%= preset.preset_added_timestamp %></span
                  >
                  <a
                    href="/synth/<%= preset.synth_id %>"
                    class="card-entry--more-details"
                    >More details
                    <span class="material-icons">open_in_new</span></a
                  >
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </main>
    </div>
  </body>
  <a href="#" id="scrollToTop" class="material-icons">arrow_upward</a>
</html>
