<!DOCTYPE html>
<html>
  <head>
    <title>Admin &mdash; Announcements</title>
    <link rel="stylesheet" href="/styles/admin/admin.css" />
    <link rel="stylesheet" href="/styles/admin/announcements.css" />
    <link rel="stylesheet" href="/styles/partials/admin-breadcrumbs.css" />
    <script src="/js/admin/announcements.js" defer></script>
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="admin--header">
            <% const breadcrumbs = [ { label: "PresetBase Home", href: "/" }, {
            label: "Admin Dashboard", href: "/admin" },{ label: "Announcements",
            href: "" }]; %> <%- include('../partials/admin-breadcrumbs', {
            breadcrumbs }) %>
            <h1 class="heading-primary">Announcements</h1>
          </section>
          <!-- ------------------------ Announcements Section  ----------------------- -->
          <section class="announcements-section">
            <div class="deactivate-modal-overlay">
              <div class="deactivate-modal">
                <i class="fa-solid fa-power-off deactivate-icon"></i>
                <span class="deactivate-title">Deactivate Announcement?</span>
                <div class="deactivate-btn-container">
                  <button class="deactivate-btn--cancel">Cancel</button>
                  <button class="deactivate-btn--delete">Deactivate</button>
                </div>
              </div>
            </div>

            <h2 class="heading-secondary">Active Announcement</h2>

            <div class="active-announcement-wrapper">
              <% if (activeAnnouncement) { %>
              <div class="active-announcement-container">
                <i class="fa-solid fa-circle-info active-announcement-icon"></i>
                <div class="active-announcement-content">
                  <span class="active-announcement-title"
                    ><%= activeAnnouncement.title %></span
                  >
                  <span class="active-announcement-text"
                    ><%= activeAnnouncement.description %></span
                  >
                </div>
              </div>
              <div class="active-announcement-time-info-container">
                <span class="active-announcement-time-info-text"
                  >Created: <%= activeAnnouncement.created_at %></span
                >
                <span
                  class="active-announcement--divider"
                  aria-hidden="true"
                ></span>
                <span class="active-announcement-time-info-text"
                  >Expires: <%= activeAnnouncement.expires_at %></span
                >
              </div>

              <div class="active-announcement-btn-container">
                <input
                  type="hidden"
                  value="<%= activeAnnouncement.id %>"
                  name="activeAnnouncementId"
                />
                <button
                  class="active-announcement-deactivate-btn"
                  type="button"
                  onclick="showDeactivateModal(this)"
                >
                  Deactivate Announcement
                </button>
              </div>
              <% } else { %>
              <div class="active-announcement-container">
                <span class="active-announcement-title --no-active"
                  >No active announcement</span
                >
              </div>
              <% } %>
            </div>

            <div class="announcement-header">
              <h2 class="heading-secondary">Create new announcement</h2>
            </div>
            <form id="tag-form" action="/admin/announcements" method="POST">
              <div class="announcement-form-container">
                <label for="announcement-title"
                  >Title <span class="red">*</span></label
                >
                <input
                  class="form-input"
                  type="text"
                  id="title"
                  name="title"
                  required
                />
                <label for="announcement-description"
                  >Description <span class="red">*</span></label
                >
                <textarea
                  id="description"
                  name="description"
                  rows="6"
                  required
                ></textarea>
                <label for="expires-at"
                  >Expires At <span class="red">*</span></label
                >
                <input
                  class="form-input"
                  type="datetime-local"
                  id="expires-at"
                  name="expires_at"
                  required
                />
              </div>
              <div class="submit-announcement-btn-container">
                <button type="submit" class="submit-announcement-btn">
                  Create Announcement
                </button>
              </div>
            </form>
          </section>

          <% if (announcements.length) { %>
          <section class="past-announcements-section">
            <div class="past-announcement-header">
              <h2 class="heading-secondary">Past announcements</h2>
            </div>

            <div class="past-announcement-container">
              <% Object.entries(announcements).forEach(([i, a]) => { %>
              <div class="past-announcement">
                <div class="past-announcement-left">
                  <span class="past-announcement-title"><%= a.title %></span>
                  <span class="past-announcement-text"
                    ><%= a.description %></span
                  >
                  <div class="past-announcement-time-info-container">
                    <span class="past-announcement-time-info-text"
                      >Created: <%= a.created_at %></span
                    >
                    <span
                      class="past-announcement--divider"
                      aria-hidden="true"
                    ></span>
                    <span class="past-announcement-time-info-text"
                      >Expired: <%= a.expires_at %></span
                    >
                  </div>
                </div>
                <input
                  type="hidden"
                  value="<%= a.id %>"
                  name="announcementId"
                />
                <button
                  class="hidden-btn"
                  type="submit"
                  onclick="deleteAnnouncement(this)"
                >
                  <i class="fa-solid fa-trash list-entry--icon"></i>
                </button>
              </div>
              <% }) %>
            </div>
          </section>
          <% } %>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
