<!DOCTYPE html>
<html>
  <head>
    <title>Admin &mdash; Approvals</title>
    <link rel="stylesheet" href="/styles/main/submit.css" />
    <link rel="stylesheet" href="/styles/partials/admin-breadcrumbs.css" />
    <script src="/js/admin/approvals.js" defer></script>
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="submit--header">
            <% const breadcrumbs = [ { label: "PresetBase Home", href: "/" }, 
            { label: "Admin Dashboard", href: "/admin" },{
            label: "User Submissions", href: "" }]; %> <%-
            include('../partials/admin-breadcrumbs', { breadcrumbs }) %>
            <h1 class="heading-primary">User submitted entries</h1>
          </section>
          <!-- --------------------------- Submit Section ---------------------------- -->
           <% if (submissions.length) { %>
            <section class="submit-main-container">
              <% submissions.forEach((entry, i) => { %>
              <div id="entry-<%= entry.id %>" class="submission-header">
                <div class="submission-header--section">
                  <i class="fa-solid fa-user-pen submission-header--icon"></i>
                  <span class="submission-header--text">Submitted by: <kbd><%= entry.username %></kbd></span>
                </div>
                <span class="submission-header--divider" aria-hidden="true"></span>
                <div class="submission-header--section">
                  <i class="fa-solid fa-fingerprint submission-header--icon"></i>
                  <span class="submission-header--text">Submission ID: <kbd><%= entry.id %></kbd></span>
                </div>
                <span class="submission-header--divider" aria-hidden="true"></span>
                <div class="submission-header--section">
                  <i class="fa-solid fa-calendar submission-header--icon""></i>
                  <span class="submission-header--text">Submitted: <kbd><%= entry.submittedAt %></kbd></span>
                </div>
              </div>
              <form
                id="entryForm"
                method="POST"
                action="/admin/approvals/approve"
                enctype="multipart/form-data"
              >
                <input type="hidden" name="entryId" value="<%= entry.id %>" />
                <legend>Song Information</legend>
                <fieldset>
                  <label
                    >Song Title <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="text"
                      name="songTitle"
                      value="<%= entry.data.songTitle %>"
                    />
                    <small
                      >Provide the full title of the song. Do not include featured
                      artists or producers.</small
                    >
                  </label>
                  <label
                    >Genre <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="text"
                      name="songGenre"
                      value="<%= entry.data.songGenre %>"
                    />
                    <small
                      >Specify the music genre (e.g., Trap, House, Hip
                      Hop).</small
                    >
                  </label>
                  <label
                    >Release Year <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="number"
                      name="songYear"
                      value="<%= entry.data.songYear %>"
                    />
                    <small
                      >Enter the year the song was released (e.g., 2018).</small
                    >
                  </label>
                  <label
                    >Song URL <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="url"
                      name="songUrl"
                      value="<%= entry.data.songUrl %>"
                    />
                    <small
                      >Paste the YouTube URL of the song. Use the official
                      artist's channel. Avoid music videos unless no official
                      audio uploads exist.</small
                    >
                  </label>
                  <%
                    let songImgSrc;
                    if (entry.data.songFilled) {
                      songImgSrc = `/uploads/images/approved/${entry.data.songImg}`;
                    } else {
                      songImgSrc = `/uploads/images/pending/${entry.data.songImg}`;
                    }
                  %>
                  <label>
                    Song Image
                    <div class="img-upload-container">
                      <img
                        src="<%= songImgSrc %>"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name"><%= entry.data.songImg %></span>
                          <input
                            type="file"
                            name="songImg"
                            class="imageInput"
                            accept="image/*"
                          />
                        </div>
                        <small
                          >Upload the son's cover image. Leave blank to default to the
                          album cover. Minimum dimensions: 1000 x 1000 pixels.</small
                        >
                      </div>
                    </div>
                  </label>
                </fieldset>

                <% Object.entries(entry.data.artists).forEach(([i, artist]) => {
                %>
                <legend>Artist Information</legend>
                <fieldset id="artistSection">
                  <div class="artist-entry">
                    <label
                      >Artist Name <span class="red">*</span>
                      <input
                        class="form-input"
                        required
                        type="text"
                        name="<%= `artists[${i}][name]` %>"
                        value="<%= artist.name %>"
                      />
                      <small>Enter the name of the artist.</small>
                    </label>
                    <label
                      >Artist Country <span class="red">*</span>
                      <input
                        class="form-input"
                        required
                        type="text"
                        name="<%= `artists[${i}][country]` %>"
                        value="<%= artist.country %>"
                      />
                      <small>Specify the artist's country of origin.</small>
                    </label>
                    <label
                      >Artist Role <span class="red">*</span>
                      <input
                        class="form-input"
                        required
                        type="text"
                        name="<%= `artists[${i}][role]` %>"
                        value="<%= artist.role %>"
                      />
                      <small
                        >State the artist's role on the track. Use 'Main' for
                        primary artist. Enter only one role.</small
                      >
                    </label>
                    <%
                      let artistImgSrc;
                      if (artist.filled) {
                        artistImgSrc = `/uploads/images/approved/${artist.img}`;
                      } else {
                        artistImgSrc = `/uploads/images/pending/${artist.img}`;
                      }
                    %>
                    <label>
                      Artist Image <span class="red">*</span>
                      <div class="img-upload-container">
                        <img
                          src="<%= artistImgSrc %>"
                          alt="Uploaded Image"
                          class="img-upload-display"
                        />
                        <div class="file-input-wrapper">
                          <div class="custom-file-input input-margin-bottom">
                            <button type="button" class="browse-button">
                              Browse...
                            </button>
                            <span class="file-name"><%= artist.img %></span>
                            <input
                              type="file"
                              name="<%= `artists[${i}][img]` %>"
                              class="imageInput"
                              accept="image/*"
                            />
                          </div>
                          <small
                            >Upload the artist's image. Minimum dimensions: 1000 x 1000
                            pixels.</small
                          >
                        </div>
                      </div>
                    </label>
                  </div>
                </fieldset>
                <% }) %>

                <% const isSingle = entry.data.single === "yes" %>
                <legend>Album Information</legend>
                <fieldset class="album-field-set">
                  <div class="checkbox-container">
                    <label class="checkbox-label">
                      <input type="hidden" name="single" value="<%= entry.data.single %>" />
                      <input
                        type="checkbox"
                        class="custom-input single-checkbox"
                        <% if (isSingle) { %>checked<% } %>
                      />
                      <span class="custom-checkbox"></span>
                      <span class="checkbox-text">
                        Check this box if the song is a single (doesn't appear on
                        any albums besides possibly compilation albums).
                      </span>
                    </label>
                  </div>
                  <label
                    >Album Title <span class="red">*</span>
                    <input
                      class="form-input album-field"
                      required
                      type="text"
                      name="albumTitle"
                      value="<%= entry.data.albumTitle %>"
                      <% if (isSingle) { %>disabled<% } %>
                    />
                    <small>Provide the album's title.</small>
                  </label>
                  <label
                    >Genre <span class="red">*</span>
                    <input
                      class="form-input album-field"
                      required
                      type="text"
                      name="albumGenre"
                      value="<%= entry.data.albumGenre %>"
                      <% if (isSingle) { %>disabled<% } %>
                    />
                    <small>Indicate the album's genre.</small>
                  </label>
                  <label
                    >Release Year <span class="red">*</span>
                    <input
                      class="form-input album-field"
                      required
                      type="number"
                      name="albumYear"
                      value="<%= entry.data.albumYear %>"
                      <% if (isSingle) { %>disabled<% } %>
                    />
                    <small>Enter the year the album was released.</small>
                  </label>
                  <label>
                    <%
                      let albumImgSrc;
                      if (isSingle) {
                        albumImgSrc = "/assets/images/image-upload-placeholder.webp";
                      } else if (entry.data.albumFilled) {
                        albumImgSrc = `/uploads/images/approved/${entry.data.albumImg}`;
                      } else {
                        albumImgSrc = `/uploads/images/pending/${entry.data.albumImg}`;
                      }
                    %>
                    Album Image <span class="red">*</span>
                    <div class="img-upload-container">
                      <img
                        src="<%= albumImgSrc %>"
                        alt="Uploaded Image"
                        class="img-upload-display"
                      />
                      <div class="file-input-wrapper">
                        <div class="custom-file-input input-margin-bottom <% if (isSingle) { %>disabled<% } %>">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name"><%= entry.data.albumImg || 'No file selected.' %></span>
                          <input
                            type="file"
                            name="albumImg"
                            class="imageInput album-field"
                            accept="image/*"
                            <% if (isSingle) { %>disabled<% } %>
                          />
                        </div>
                        <small
                          >Upload the album's cover image. Minimum dimensions:
                          1000 x 1000 pixels.</small
                        >
                      </div>
                    </div>
                  </label>
                </fieldset>

                <legend>Preset Information</legend>
                <% Object.entries(entry.data.synths).forEach(([i, synth]) => { %>
                <fieldset id="synthPresetSection">
                  <div class="synth-entry" data-synth-index="0">
                    <label
                      >Synth Name <span class="red">*</span>
                      <input
                        class="form-input"
                        required
                        type="text"
                        name="<%= `synths[${i}][name]` %>"
                        value="<%= synth.name %>"
                      />
                      <small>Name the synth used in the track.</small>
                    </label>
                    <label
                      >Manufacturer <span class="red">*</span>
                      <input
                        class="form-input"
                        required
                        type="text"
                        name="<%= `synths[${i}][manufacturer]` %>"
                        value="<%= synth.manufacturer %>"
                      />
                      <small
                        >Provide the manufacturer or developer (e.g.,
                        Spectrasonics).</small
                      >
                    </label>
                    <label
                      >Release Year <span class="red">*</span>
                      <input
                        class="form-input"
                        required
                        type="number"
                        name="<%= `synths[${i}][year]` %>"
                        value="<%= synth.year %>"
                      />
                      <small>Enter the synth's release year.</small>
                    </label>
                    <label
                      >Type <span class="red">*</span>
                      <select required name="<%= `synths[${i}][type]` %>">
                          <option value="VST" 
                            <%= synth.type === 'VST' ? 'selected' : '' %>>VST</option>
                          <option value="Hardware" 
                            <%= synth.type === 'Hardware' ? 'selected' : '' %>>Hardware</option>
                          <option value="Kontakt Bank" 
                            <%= synth.type === 'Kontakt Bank' ? 'selected' : '' %>>Kontakt Bank</option>
                          <option value="SoundFont" 
                            <%= synth.type === 'SoundFont' ? 'selected' : '' %>>SoundFont</option>
                      </select>
                      <small>Select the synth format.</small>
                    </label>
                    <%
                      let synthImgSrc;
                      if (synth.filled) {
                        synthImgSrc = `/uploads/images/approved/${synth.img}`;
                      } else {
                        synthImgSrc = `/uploads/images/pending/${synth.img}`;
                      }
                    %>
                    <label>
                      Synth Image <span class="red">*</span>
                      <div class="img-upload-container">
                        <img
                          src="<%= synthImgSrc %>"
                          alt="Uploaded Image"
                          class="img-upload-display"
                        />
                        <div class="file-input-wrapper">
                          <div class="custom-file-input input-margin-bottom">
                            <button type="button" class="browse-button">
                              Browse...
                            </button>
                            <span class="file-name"><%= synth.img %></span>
                            <input
                              type="file"
                              name="<%= `synths[${i}][img]` %>"
                              class="imageInput"
                              accept="image/*"
                            />
                          </div>
                          <small
                            >Upload an image of the synth. Minimum dimensions:
                            1000 x 1000 pixels.</small
                          >
                        </div>
                      </div>
                    </label>

                    <% Object.entries(synth.presets).forEach(([j, preset]) => { %>
                      <div class="preset-section">
                        <div class="preset-entry">
                          <% if (j !== "0") { %><hr class="hr--sep" /><% } %>
                          <label>
                            Preset Name <span class="red">*</span>
                            <input
                              class="form-input"
                              required
                              type="text"
                              name="<%= `synths[${i}][presets][${j}][name]` %>"
                              value="<%= preset.name %>"
                            />
                            <small>
                              Enter the full name of the exact preset used (e.g., 2 Sparklepad BT, LD King of Buzz 2).
                            </small>
                          </label>
                          <label>
                            Pack Name
                            <input
                              required
                              class="form-input"
                              type="text"
                              name="<%= `synths[${i}][presets][${j}][packName]` %>"
                              value="<%= preset.packName || '' %>"
                            />
                            <small>
                              Provide the name of the preset pack. Leave blank for built-in presets.
                            </small>
                          </label>
                          <label>
                            Author
                            <input
                              required
                              class="form-input"
                              type="text"
                              name="<%= `synths[${i}][presets][${j}][author]` %>"
                              value="<%= preset.author || '' %>"
                            />
                            <small>
                              Identify who created the preset or preset pack. Leave blank for manufacturer, for factory presets.
                            </small>
                          </label>
                          <label>
                            Usage Type <span class="red">*</span>
                            <input
                              required
                              class="form-input"
                              required
                              type="text"
                              name="<%= `synths[${i}][presets][${j}][usageType]` %>"
                              value="<%= preset.usageType || '' %>"
                            />
                            <small>
                              Describe how the preset was used (e.g., Lead, Pad, Sequence).
                            </small>
                          </label>
                      
                        <label
                          >Preset Audio <span class="red">*</span>
                          <div class="audio-upload-container input-margin-bottom">
                            <div class="audio-upload-btn-container">
                              <i
                                class="fa-solid fa-circle-play audio-upload--play-btn"
                              ></i>
                              <i
                                class="fa-solid fa-circle-stop audio-upload--play-btn-active hidden"
                              ></i>
                            </div>
                            <audio 
                              class="uploaded-audio" 
                              src="<%= preset.audio ? 
                                  `/uploads/audio/pending/${preset.audio}` : '' %>">
                            </audio>
                            <div class="custom-file-input">
                              <button type="button" class="browse-button">
                                Browse...
                              </button>
                              <span class="file-name"><%= preset.audio || '' %></span>
                              <input
                                type="file"
                                name="<%= `synths[${i}][presets][${j}][audio]` %>"
                                class="audioInput"
                                accept="audio/mpeg"
                              />
                            </div>
                          </div>
                          <small>
                            Upload a short <kbd>.mp3</kbd> audio clip
                            (approximately 4 bars) demonstrating how the preset is
                            used in the song.
                          </small>
                        </label>
                      </div>
                    </div>
                    <% }) %>
                  </div>
                </fieldset>
                <% }) %>
                <div class="btn-container margin-bottom--large">
                  <button
                    class="submit-btn deny-btn"
                    type="button"
                    onclick="post('/admin/approvals/deny/<%= entry.id %>')"
                  >
                    Deny
                  </button>
                  <button 
                    class="submit-btn approve-btn"
                    type="submit"
                  >
                    Approve
                  </button>
                </div>
              </form>
              <% }) %>
            </section>
          <% } else { %>
            <div class="no-submissions-container">
              <span class="no-submissions-text">
                No user submissions yet.</span>
            </div>
          <% } %>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
