<!DOCTYPE html>
<html>
  <head>
    <title>Manage Users</title>
    <script src="/js/admin/manage-users.js" defer></script>
    <link rel="stylesheet" href="/styles/admin/manage-users.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <main class="container">
          <% if (!totalUsers) { %>
          <section class="manage-users--header">
            <div class="manage-users-header--top">
              <h1 class="heading-primary">Manage Users</h1>
            </div>
          </section>
          <div class="no-users--container">
            <span class="no-users--text">No users found.</span>
          </div>
          <% } else { %>
          <section class="manage-users--header">
            <div class="manage-users-header--top">
              <h1 class="heading-primary">Manage Users</h1>
              <span class="users-count"><%= totalUsers %> users</span>
            </div>
            <div class="manage-users-header--bottom">
              <div class="manage-users-result-filter--container">
                <div class="manage-users-result-filter">
                  <input
                    type="text"
                    placeholder="Filter users"
                    class="manage-users-filter--input"
                  />
                  <i class="fa-solid fa-xmark result-filter--clear"></i>
                </div>
              </div>
              <div class="manage-users---select-container">
                <select name="sort" class="manage-users--sort-select">
                  <option value="" selected disabled hidden>Sort</option>
                  <option value="username">Username</option>
                  <option value="email">Email</option>
                  <option value="joined">Join Date</option>
                  <option value="auth">Authentication Provider</option>
                  <option value="role">Role</option>
                </select>
                <i class="fa-solid fa-sort sort-icon"></i>
              </div>
            </div>
          </section>

          <div id="slideout-backdrop" class="slideout-backdrop hidden"></div>

          <aside
            id="slideout-panel"
            class="slideout hidden"
            data-userid="<%= adminId %>"
          >
            <header class="slideout-header">
              <h2 class="heading-secondary">Edit User</h2>
              <button id="slideout-close-btn" class="close-btn">
                <i class="fa-solid fa-xmark slide-out-icon"></i>
              </button>
            </header>
            <div class="slideout-content">
              <div class="user-info-container">
                <div class="user-info-input-container">
                  <span class="user-info-text">Username</span>
                  <input
                    type="text"
                    id="slideout-username"
                    class="user-info-input"
                    placeholder="Username"
                    value=""
                  />
                  <div
                    id="slideout-username-hint"
                    class="input-hint hidden"
                  ></div>
                  <span class="user-info-text">Email</span>
                  <input
                    type="email"
                    id="slideout-email"
                    class="user-info-input"
                    placeholder="Email"
                    disabled
                    value=""
                  />
                </div>
                <button
                  id="slideout-apply-changes-btn"
                  type="button"
                  class="user-info-btn"
                  disabled
                >
                  Apply changes
                </button>

                <div class="user-info-bottom-container">
                  <div class="user-info-bottom-entry">
                    <span class="user-info-bottom-text"
                      ><strong>Joined:</strong></span
                    >
                    <span
                      id="slideout-timestamp"
                      class="user-info-bottom-text"
                    ></span>
                  </div>
                  <div class="user-info-bottom-entry">
                    <span class="user-info-bottom-text"
                      ><strong>Authenticated with:</strong></span
                    >
                    <span
                      id="slideout-auth"
                      class="user-info-bottom-text"
                    ></span>
                  </div>
                  <div class="user-info-bottom-entry">
                    <span class="user-info-bottom-text"
                      ><strong>Role:</strong></span
                    >
                    <span
                      id="slideout-role"
                      class="user-info-bottom-text"
                    ></span>
                  </div>
                  <div class="user-info-bottom-entry">
                    <span class="user-info-bottom-text"
                      ><strong>Banned:</strong></span
                    >
                    <span
                      id="slideout-banned"
                      class="user-info-bottom-text"
                    ></span>
                  </div>
                </div>
              </div>

              <hr class="user-info--hr" />

              <div class="user-info-actions">
                <div class="btn-container">
                  <button id="ban-btn" type="button" class="ban-btn">
                    Ban User
                  </button>
                  <button id="unban-btn" type="button" class="ban-btn hidden">
                    Unban User
                  </button>
                  <button id="promote-btn" type="button" class="promote-btn">
                    Promote To Admin
                  </button>
                  <button
                    id="demote-btn"
                    type="button"
                    class="promote-btn hidden"
                  >
                    Revoke Admin Role
                  </button>
                </div>
                <div id="slideout-actions-hint" class="input-hint hidden"></div>
              </div>

              <!-- make no user submission text -->
              <header class="slideout-header">
                <h2 class="heading-secondary">User submissions</h2>
              </header>

              <div class="submissions-section">
                <span
                  id="slideout-pending-submissions-title"
                  class="user-info-text hidden"
                  >Pending</span
                >
                <div
                  id="slideout-pending-submissions-section"
                  class="slideout-submissions-container hidden"
                ></div>

                <span
                  id="slideout-approved-submissions-title"
                  class="user-info-text hidden"
                  >Approved</span
                >
                <div
                  id="slideout-approved-submissions-section"
                  class="slideout-submissions-container hidden"
                ></div>
              </div>
            </div>
          </aside>

          <section class="users-list--container">
            <div class="result-columns grid-layout--users">
              <span>#</span>
              <span>Username</span>
              <span>Email</span>
              <span>Join Date</span>
              <span>Authentication Provider</span>
              <span>Role</span>
            </div>
            <% Object.entries(userData).forEach(([i, user]) => { %>
            <div
              data-userid="<%= user.id %>"
              data-banned="<%= user.banned === 't'%>"
              class="grid-layout--users user-entry"
            >
              <span class="user-entry--number"><%= +i + 1 %></span>
              <span class="user-entry--primary user--username"
                ><%= user.username %></span
              >
              <span class="user-entry--primary user--email"
                ><%= user.email %></span
              >
              <span class="user-entry--date user--timestamp"
                ><%= user.timestamp %></span
              >
              <span class="user-entry--auth user--auth"
                ><%= user.authenticated_with %></span
              >
              <span class="user-entry--role user--role"
                ><%= user.is_admin === "t" ? "Admin" : "User" %></span
              >
              <button
                class="hidden-btn"
                type="button"
                onclick="showSlideOut(this)"
              >
                <i class="fa-solid fa-pen-to-square edit--icon"></i>
              </button>
            </div>
            <% }) %>
          </section>
          <% } %>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
