<!DOCTYPE html>
<html>
  <head>
    <title>Admin &mdash; Tag Editor</title>
    <link rel="stylesheet" href="/styles/admin/admin.css" />
    <link rel="stylesheet" href="/styles/admin/tag-editor.css" />
    <link rel="stylesheet" href="/styles/partials/admin-breadcrumbs.css" />
    <link rel="stylesheet" href="/styles/partials/coloris.min.css" />
    <script src="/js/admin/tag-editor.js" defer></script>
    <script src="/js/partials/coloris.min.js" defer></script>
    <%- include('../partials/html-head') %>
    <style id="dynamic-tag-styles">
      <%- genreStyles %>
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="admin--header">
            <% const breadcrumbs = [ { label: "PresetBase Home", href: "/" }, {
            label: "Admin Dashboard", href: "/admin" },{ label: "Tag Editor",
            href: "" }]; %> <%- include('../partials/admin-breadcrumbs', {
            breadcrumbs }) %>
            <h1 class="heading-primary">Tag Editor</h1>
          </section>
          <!-- --------------------------- Submit Section ---------------------------- -->
          <section class="tag-editor-section">
            <div class="delete-tag-modal-overlay">
              <div class="delete-tag-modal">
                <i class="fa-solid fa-trash delete-tag-icon"></i>
                <span class="delete-tag-title">Delete Tag?</span>
                <span class="delete-tag-desc"
                  >You are about to delete "Tag Name"</span
                >
                <div class="delete-tag-btn-container">
                  <button class="delete-tag-btn--cancel">Cancel</button>
                  <button class="delete-tag-btn--delete">Delete</button>
                </div>
              </div>
            </div>

            <span class="tag-editor-info-text"
              ><%= editing ? `Editing tag: ${tag.name}` : "Create new tag"
              %></span
            >
            <form id="tag-form" action="/admin/tag-editor" method="POST">
              <div class="tag-editor-main">
                <div class="tag-editor-main-top">
                  <div class="tag-editor-left">
                    <span class="tag-demo">
                      <%= editing ? tag.name : "Tag Name" %>
                    </span>
                  </div>

                  <div class="tag-editor-right">
                    <div class="color-pickers-container">
                      <div class="color-picker">
                        <span class="tag-input-text">Text Color</span>
                        <input
                          type="text"
                          required
                          class="coloris instance1 color-picker-input"
                          value="<%= editing ? tag.text_color : '#ff5a9c' %>"
                          data-coloris
                          data-key="color"
                          name="textColor"
                        />
                      </div>

                      <div class="color-picker">
                        <span class="tag-input-text">Border Color</span>
                        <input
                          type="text"
                          required
                          class="coloris instance2 color-picker-input"
                          value="<%= editing ? tag.border_color : '#51152b' %>"
                          data-coloris
                          data-key="border-color"
                          name="borderColor"
                        />
                      </div>

                      <div class="color-picker">
                        <span class="tag-input-text">Background Color</span>
                        <input
                          type="text"
                          required
                          class="coloris instance3 color-picker-input"
                          value="<%= editing ? tag.bg_color : '#3a0a1e' %>"
                          data-coloris
                          data-key="background-color"
                          name="backgroundColor"
                        />
                      </div>
                    </div>

                    <hr class="tag-inputs-hr" />

                    <div class="tag-inputs-container">
                      <div class="tag-name-input-container">
                        <span class="tag-input-text">Genre Name</span>
                        <input
                          type="text"
                          required
                          class="tag-input name-input"
                          placeholder="Hip Hop"
                          autocomplete="off"
                          name="name"
                          value="<%= editing ? tag.name : '' %>"
                          oninput="document.querySelector('.tag-demo').innerText = this.value || 'Tag Name'"
                        />
                      </div>

                      <div class="tag-name-input-container">
                        <span class="tag-input-text">Genre Slug</span>
                        <input
                          type="text"
                          required
                          class="tag-input slug-input"
                          placeholder="hip-hop"
                          autocomplete="off"
                          name="slug"
                          value="<%= editing ? tag.slug : '' %>"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <input type="hidden" value="<%= editing %>" name="editing" />
                <input
                  type="hidden"
                  value="<%= editing ? tag.id : '' %>"
                  name="tagId"
                />

                <div class="tag-editor-main-bottom">
                  <button class="submit-btn" type="submit">Save Tag</button>
                  <% if (editing) { %>
                  <button
                    class="clear-btn"
                    type="button"
                    onclick="window.location.href='/admin/tag-editor'"
                  >
                    Exit Edit Mode
                  </button>
                  <% } else { %>
                  <button class="clear-btn" type="reset">Reset</button>
                  <% } %>
                </div>
              </div>
            </form>
          </section>

          <section class="tag-list-section">
            <div class="tag-list-header">
              <h2 class="heading-secondary">Tags</h2>
            </div>
            <div class="tag-entry-columns grid-layout-tags">
              <span class="tag-list-header-text">#</span>
              <span class="tag-list-header-text">Name</span>
              <span class="tag-list-header-text header-slug">Slug</span>
              <span class="tag-list-header-text header-color">Text Color</span>
              <span class="tag-list-header-text header-color"
                >Border Color</span
              >
              <span class="tag-list-header-text header-color"
                >Background Color</span
              >
            </div>
            <% Object.entries(tags).forEach(([i, t]) => { %>
            <div class="grid-layout-tags list-entry">
              <span class="list-entry--number"><%= +i + 1 %></span>
              <div class="tag-wrapper">
                <span class="--tag"><%= t.name %></span>
              </div>
              <span class="list-entry--slug"><%= t.slug %></span>
              <span class="list-entry--color"><%= t.text_color %></span>
              <span class="list-entry--color"><%= t.border_color %></span>
              <span class="list-entry--color"><%= t.bg_color %></span>
              <form action="/admin/tag-editor/edit-tag" method="POST">
                <input type="hidden" value="<%= t.id %>" name="tagId" />
                <button class="hidden-btn" type="submit">
                  <i class="fa-solid fa-pen-to-square list-entry--icon"></i>
                </button>
              </form>

              <input type="hidden" value="<%= t.id %>" name="tagId" />
              <button
                class="hidden-btn"
                type="button"
                onclick="showDeleteModal(this)"
              >
                <i class="fa-solid fa-trash list-entry--icon"></i>
              </button>
            </div>
            <% }) %>
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
