<%- include('partials/navbar') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search results for "<%= query %>"</title>
    <link rel="stylesheet" href="/styles/search_results.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
  </head>
  <body>
    <div class="content animate">
      <h1>
        <%= results.songs.length + results.artists.length +
        results.albums.length + results.synths.length + results.presets.length
        %> results for "<%= query %>"
      </h1>

      <div class="filter-btns">
        <button class="filter-btn filter-btn-active" data-filter="all">
          <span class="material-icons">all_inclusive</span> All
        </button>
        <button class="filter-btn" data-filter="songs">
          <span class="material-icons">music_note</span> Songs
        </button>
        <button class="filter-btn" data-filter="artists">
          <span class="material-icons">person</span> Artists
        </button>
        <button class="filter-btn" data-filter="albums">
          <span class="material-icons">album</span> Albums
        </button>
        <button class="filter-btn" data-filter="synths">
          <span class="material-icons">piano</span> Synths
        </button>
        <button class="filter-btn" data-filter="presets">
          <span class="material-icons">tune</span> Presets
        </button>
      </div>

      <div class="no-results material-icons animate">folder_off</div>

      <div class="results">
        <% if (results.songs.length) { %>
        <div class="section songs-section animate">
          <h2>Songs</h2>
          <% results.songs.forEach(song => { %>
          <a href="/song/<%= song.id %>" class="result-card">
            <img src="<%= song.image_url %>" class="result-img" />
            <div class="result-info-wrapper">
              <div class="result-info">
                <span class="result-title"><%= song.title %></span>
                <span class="result-sub">
                  <%= song.artist %> <% if (song.album !== "[SINGLE]") { %> —
                  <%= song.album %><% } %> — <%= song.genre %>
                </span>
              </div>
              <span class="material-icons open-icon">open_in_new</span>
            </div>
          </a>

          <% }) %>
        </div>
        <% } %> <% if (results.artists.length) { %>
        <div class="section artists-section animate">
          <h2>Artists</h2>
          <% results.artists.forEach(artist => { %>
          <a href="/artist/<%= artist.id %>" class="result-card">
            <img src="<%= artist.image_url %>" class="result-img" />
            <div class="result-info-wrapper">
              <div class="result-info">
                <span class="result-title"><%= artist.name %></span>
                <span class="result-sub"><%= artist.country %></span>
              </div>
              <span class="material-icons open-icon">open_in_new</span>
            </div>
          </a>
          <% }) %>
        </div>
        <% } %> <% if (results.albums.length) { %>
        <div class="section albums-section animate">
          <h2>Albums</h2>
          <% results.albums.forEach(album => { if (album.title !== "[SINGLE]") {
          %>
          <a href="/album/<%= album.id %>" class="result-card">
            <img src="<%= album.image_url %>" class="result-img" />
            <div class="result-info-wrapper">
              <div class="result-info">
                <span class="result-title"><%= album.title %></span>
                <span class="result-sub"
                  ><%= album.artist %> — <%= album.genre %></span
                >
              </div>
              <span class="material-icons open-icon">open_in_new</span>
            </div>
          </a>
          <% } }) %>
        </div>
        <% } %> <% if (results.synths.length) { %>
        <div class="section synths-section animate">
          <h2>Synths</h2>
          <% results.synths.forEach(synth => { %>
          <a href="/synth/<%= synth.id %>" class="result-card">
            <img src="<%= synth.image_url %>" class="result-img" />
            <div class="result-info-wrapper">
              <div class="result-info">
                <span class="result-title"><%= synth.synth_name %></span>
                <span class="result-sub"><%= synth.manufacturer %></span>
              </div>
              <span class="material-icons open-icon">open_in_new</span>
            </div>
          </a>
          <% }) %>
        </div>
        <% } %> <% if (results.presets.length) { %>
        <div class="section presets-section animate">
          <h2>Presets</h2>
          <% results.presets.forEach(preset => { %>
          <a href="/synth/<%= preset.synth_id %>" class="result-card">
            <img src="<%= preset.image_url %>" class="result-img" />
            <div class="result-info-wrapper">
              <div class="result-info">
                <span class="result-title"><%= preset.preset_name %></span>
                <span class="result-sub"><%= preset.synth_name %></span>
              </div>
              <span class="material-icons open-icon">open_in_new</span>
            </div>
          </a>
          <% }) %>
        </div>
        <% } %>
      </div>
    </div>
    <a href="#" id="scrollToTop" class="material-icons">arrow_upward</a>
    <script src="/assets/scroll_to_top.js"></script>
    <script src="/assets/search_results.js"></script>
  </body>
</html>
