<!DOCTYPE html>
<html>
  <head>
    <script src="/assets/art_bg.js" defer></script>
    <script src="/assets/scroll_to_top.js" defer></script>
    <script src="/assets/resize_text.js" defer></script>
    <script src="/assets/render_song_artists.js" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= synth.name %> - Details</title>
    <link rel="stylesheet" href="/styles/synth_page.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
  </head>
  <body
    style="opacity: 0; transition: opacity 0.3s ease"
    onload="document.body.style.opacity='1'"
  >
    <%- include('partials/navbar') %>
    <div class="content animate">
      <div class="meta--section">
        <div class="synth-details-container">
          <div class="synth-image-container">
            <img
              src="<%= synth.image_url %>"
              class="cover-image"
              alt="<%= synth.name %>"
            />
          </div>
          <div class="item-info">
            <h1 id="heading" data-maxsize="70"><%= synth.name %></h1>
            <h2><%= synth.manufacturer %></h2>
            <p>Synth Type: <strong><%= synth.type %></strong></p>
            <p>Release Year: <strong><%= synth.year %></strong></p>
          </div>
        </div>
      </div>

      <h2>Songs featuring <%= synth.name %> presets</h2>
      <div class="song-list-container">
        <% Object.entries(synth.songs).forEach(([id, song]) => { %> <% if
        (song.presets.length > 0) { %>

        <div class="song-preset-dropdown--container">
          <div class="result-card">
            <img src="<%= song.image_url %>" class="result-img" />
            <div class="result-info-wrapper">
              <div class="result-info">
                <span class="result-title"><%= song.title %></span>
                <% if (song.album !== "[SINGLE]") { %>
                <span class="result-album"><%= song.album %></span>
                <% } %> <% if (song.role !== "Main") { %>
                <span
                  class="result-all-artists"
                  data-all-artists="<%- encodeURIComponent(JSON.stringify(song)) %>"
                ></span>
                <span class="result-role"><%= song.role %></span>
                <% } %>
              </div>
              <span class="material-icons open-icon">open_in_new</span>
            </div>
          </div>
          <% song.presets.forEach((preset) => { %>
          <div class="song-preset-dropdown--section--active">
            <a href="/song/<%= song.id %>/" class="result-card">
              <div class="result-info-wrapper">
                <div class="result-info">
                  <span class="result-preset-name"><%= preset.name %></span>
                  <span class="result-usage-type"
                    ><%= preset.usage_type %></span
                  >
                </div>
                <span class="material-icons open-icon">open_in_new</span>
              </div>
            </a>
          </div>
          <% }) %> <% } %> <% }) %>
        </div>
      </div>
    </div>
  </body>
  <a href="#" id="scrollToTop" class="material-icons">arrow_upward</a>
</html>
