<!DOCTYPE html>
<html>
  <head>
    <script src="/assets/art_bg.js" defer></script>
    <script src="/assets/scroll_to_top.js" defer></script>
    <script src="/assets/resize_text.js" defer></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= synth.name %> - Details</title>
    <link rel="stylesheet" href="/styles/synth_page.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
  </head>
  <body
    style="opacity: 0; transition: opacity 0.3s ease"
    onload="document.body.style.opacity='1'"
  >
    <%- include('partials/navbar') %>
    <div class="content animate">
      <div class="meta--section">
        <div class="synth-details-container">
          <div class="synth-image-container">
            <img
              src="<%= synth.image_url %>"
              class="cover-image"
              alt="<%= synth.name %>"
            />
          </div>
          <div class="item-info">
            <h1 id="heading" data-maxsize="70"><%= synth.name %></h1>
            <h2><%= synth.manufacturer %></h2>
            <p>Synth Type: <strong><%= synth.type %></strong></p>
            <p>Release Year: <strong><%= synth.year %></strong></p>
          </div>
        </div>
      </div>

      <h2><%= synth.name %> presets</h2>
      <!-- FIX ME -->
      <div class="song-list-container">
        <% Object.entries(synth.presets).forEach(([id, preset]) => { %> <% if
        (preset.songs.length > 0) { %> <% preset.songs.forEach((song) => { %>
        <a href="/song/<%= song.id %>/" class="result-card">
          <img src="<%= synth.image_url %>" class="result-img" />
          <div class="result-info-wrapper">
            <div class="result-info">
              <span class="result-preset-name"><%= preset.name %></span>
              <span class="result-song-title"><%= song.title %></span>
              <span class="result-sub-one"><%= song.artist %></span>
              <span class="result-sub-two"><%= song.usage_type %></span>
            </div>
            <span class="material-icons open-icon">open_in_new</span>
          </div>
        </a>
        <% }) %> <% } %> <% }) %>
      </div>
    </div>
  </body>
  <a href="#" id="scrollToTop" class="material-icons">arrow_upward</a>
</html>
