<!DOCTYPE html>
<html>
  <head>
    <title>PresetBase &mdash; Submit</title>
    <link rel="stylesheet" href="/styles/main/submit.css" />
    <script>
      window.__SEARCH_DATA__ = {
        songTitles: <%- JSON.stringify(songTitles) %>,
        albumTitles: <%- JSON.stringify(albumTitles) %>,
        genres: <%- JSON.stringify(genres) %>,
        artistNames: <%- JSON.stringify(artistNames) %>,
        artistCountrys: <%- JSON.stringify(artistCountrys) %>,
        artistRoles: <%- JSON.stringify(artistRoles) %>,
        synthNames: <%- JSON.stringify(synthNames) %>,
        synthManufacturers: <%- JSON.stringify(synthManufacturers) %>,
        presetNames: <%- JSON.stringify(presetNames) %>,
        presetPacks: <%- JSON.stringify(presetPacks) %>,
        presetAuthors: <%- JSON.stringify(presetAuthors) %>,
        presetUsageTypes: <%- JSON.stringify(presetUsageTypes) %>
      };
    </script>
    <script type="module" src="/js/main/submit.js" defer></script>
    <%- include('../../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="submit--header">
            <h1 class="heading-primary">Submit</h1>
          </section>
          <!-- --------------------------- Submit Section ---------------------------- -->
          <% if (success) { %>
          <div class="alert-message success-message">
            <i class="fa-solid fa-circle-check alert-icon"></i>
            <span class="alert-text"
              ><strong>Your submission has been successfully received!</strong>
              All submissions are manually reviewed and approved. You can
              monitor the status of your submission by visiting the
              <a href="#" target="_blank">"My Submissions"</a> section within
              your account page.
            </span>
          </div>
          <% } else { %>
          <div class="alert-message info-message">
            <i class="fa-solid fa-triangle-exclamation alert-icon"></i>
            <span class="alert-text"
              ><strong
                >Please read and fill out all required fields carefully</strong
              >. Mistakes may lead to your entry being rejected.
              <a href="/submit/example" target="_blank"
                >Click here to view an example of a approved submission.</a
              >
            </span>
          </div>
          <% } %>
          <section class="submit-main-container">
            <form
              id="entryForm"
              method="POST"
              action="/submit"
              enctype="multipart/form-data"
            >
              <legend>Song Information</legend>
              <fieldset>
                <label
                  >Song Title <span class="red">*</span>
                  <input
                    class="form-input"
                    required
                    type="text"
                    name="songTitle"
                    autocomplete="off"
                    data-key="songTitle"
                  />
                  <ul class="autocomplete-dropdown hidden"></ul>
                  <small
                    >Provide the full title of the song. Do not include featured
                    artists or producers.</small
                  >
                </label>
                <label
                  >Genre <span class="red">*</span>
                  <input
                    class="form-input"
                    pattern="^([A-Z][a-z]*)(\s[A-Z][a-z]*)*$"
                    required
                    title="First letters must be capitalized."
                    type="text"
                    name="songGenre"
                    autocomplete="off"
                    data-key="genre"
                  />
                  <ul class="autocomplete-dropdown hidden"></ul>
                  <small
                    >Specify the music genre (e.g., Trap, House, Hip
                    Hop).</small
                  >
                </label>
                <label
                  >Release Year <span class="red">*</span>
                  <input
                    class="form-input"
                    pattern="^(19|20)\d{2}$"
                    required
                    title="Enter a valid year."
                    type="number"
                    name="songYear"
                  />
                  <small
                    >Enter the year the song was released (e.g., 2018).</small
                  >
                </label>
                <label
                  >Song URL <span class="red">*</span>
                  <input
                    class="form-input"
                    required
                    type="url"
                    name="songUrl"
                  />
                  <small
                    >Paste the YouTube URL of the song. Use the official
                    artist's channel. Avoid music videos unless no official
                    audio uploads exist.</small
                  >
                </label>
                <label>
                  Song Image
                  <div class="custom-file-input">
                    <button type="button" class="browse-button">
                      Browse...
                    </button>
                    <span class="file-name">No file selected.</span>
                    <input
                      type="file"
                      name="songImg"
                      class="imageInput"
                      accept="image/*"
                    />
                  </div>
                  <small
                    >Upload the son's cover image. Leave blank to default to the
                    album cover. Minimum dimensions: 1000 x 1000 pixels.</small
                  >
                </label>
              </fieldset>

              <legend>Artist Information</legend>
              <fieldset id="artistSection">
                <div class="artist-entry">
                  <label
                    >Artist Name <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="text"
                      name="artists[0][name]"
                      autocomplete="off"
                      data-key="artistName"
                    />
                    <ul class="autocomplete-dropdown hidden"></ul>
                    <small>Enter the name of the artist.</small>
                  </label>
                  <label
                    >Artist Country <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="text"
                      name="artists[0][country]"
                      autocomplete="off"
                      data-key="artistCountry"
                    />
                    <ul class="autocomplete-dropdown hidden"></ul>
                    <small>Specify the artist's country of origin.</small>
                  </label>
                  <label
                    >Artist Role <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="text"
                      name="artists[0][role]"
                      autocomplete="off"
                      data-key="artistRole"
                    />
                    <ul class="autocomplete-dropdown hidden"></ul>
                    <small
                      >State the artist's role on the track. Use 'Main' for
                      primary artist. Enter only one role.</small
                    >
                  </label>
                  <label>
                    Artist Image <span class="red">*</span>
                    <div class="custom-file-input">
                      <button type="button" class="browse-button">
                        Browse...
                      </button>
                      <span class="file-name">No file selected.</span>
                      <input
                        required
                        type="file"
                        name="artists[0][img]"
                        class="imageInput"
                        accept="image/*"
                      />
                    </div>
                    <small
                      >Upload the artist's image. Leave blank to default to the
                      album cover. Minimum dimensions: 1000 x 1000
                      pixels.</small
                    >
                  </label>
                </div>
                <button type="button" class="add-artist-btn">
                  + Add Another Artist
                </button>
              </fieldset>

              <legend>Album Information</legend>
              <fieldset>
                <div class="checkbox-container">
                  <label class="checkbox-label">
                    <input type="hidden" name="single" value="no" />
                    <input
                      type="checkbox"
                      id="singleCheckBox"
                      class="custom-input"
                    />
                    <span class="custom-checkbox"></span>
                    <span class="checkbox-text">
                      Check this box if the song is a single (doesn't appear on
                      any albums besides possibly compilation albums).
                    </span>
                  </label>
                </div>
                <label
                  >Album Title <span class="red">*</span>
                  <input
                    class="form-input album-field"
                    required
                    type="text"
                    name="albumTitle"
                    autocomplete="off"
                    data-key="albumTitle"
                  />
                  <ul class="autocomplete-dropdown hidden"></ul>
                  <small>Provide the album's title.</small>
                </label>
                <label
                  >Genre <span class="red">*</span>
                  <input
                    class="form-input album-field"
                    pattern="^([A-Z][a-z]*)(\s[A-Z][a-z]*)*$"
                    required
                    title="First letters must be capitalized."
                    type="text"
                    name="albumGenre"
                    autocomplete="off"
                    data-key="genre"
                  />
                  <ul class="autocomplete-dropdown hidden"></ul>
                  <small>Indicate the album's genre.</small>
                </label>
                <label
                  >Release Year <span class="red">*</span>
                  <input
                    class="form-input album-field"
                    pattern="^(19|20)\d{2}$"
                    title="Enter a valid year."
                    required
                    type="number"
                    name="albumYear"
                  />
                  <small>Enter the year the album was released.</small>
                </label>
                <label>
                  Album Image <span class="red">*</span>
                  <div class="custom-file-input">
                    <button type="button" class="browse-button">
                      Browse...
                    </button>
                    <span class="file-name">No file selected.</span>
                    <input
                      type="file"
                      name="albumImg"
                      class="imageInput album-field"
                      accept="image/*"
                    />
                  </div>
                  <small
                    >Upload the album's cover image. Minimum dimensions: 1000 x
                    1000 pixels.</small
                  >
                </label>
              </fieldset>

              <legend>Preset Information</legend>
              <fieldset id="synthPresetSection">
                <div class="synth-entry" data-synth-index="0">
                  <label
                    >Synth Name <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="text"
                      name="synths[0][name]"
                      autocomplete="off"
                      data-key="synthName"
                    />
                    <ul class="autocomplete-dropdown hidden"></ul>
                    <small>Name the synth used in the track.</small>
                  </label>
                  <label
                    >Manufacturer <span class="red">*</span>
                    <input
                      class="form-input"
                      required
                      type="text"
                      name="synths[0][manufacturer]"
                      autocomplete="off"
                      data-key="synthManufacturer"
                    />
                    <ul class="autocomplete-dropdown hidden"></ul>
                    <small
                      >Provide the manufacturer or developer (e.g.,
                      Spectrasonics).</small
                    >
                  </label>
                  <label
                    >Release Year <span class="red">*</span>
                    <input
                      class="form-input"
                      pattern="^(19|20)\d{2}$"
                      required
                      type="number"
                      name="synths[0][year]"
                    />
                    <small>Enter the synth's release year.</small>
                  </label>
                  <label
                    >Type <span class="red">*</span>
                    <select required name="synths[0][type]">
                      <option value="VST">VST</option>
                      <option value="Hardware">Hardware</option>
                      <option value="Kontakt Bank">Kontakt Bank</option>
                      <option value="SoundFont">SoundFont</option>
                    </select>
                    <small>Select the synth format.</small>
                  </label>
                  <label>
                    Synth Image <span class="red">*</span>
                    <div class="custom-file-input">
                      <button type="button" class="browse-button">
                        Browse...
                      </button>
                      <span class="file-name">No file selected.</span>
                      <input
                        required
                        type="file"
                        name="synths[0][img]"
                        class="imageInput"
                        accept="image/*"
                      />
                    </div>
                    <small
                      >Upload an image of the synth. Minimum dimensions: 1000 x
                      1000 pixels.</small
                    >
                  </label>

                  <div class="preset-section">
                    <div class="preset-entry">
                      <label
                        >Preset Name <span class="red">*</span>
                        <input
                          class="form-input"
                          required
                          type="text"
                          name="synths[0][presets][0][name]"
                          autocomplete="off"
                          data-key="presetName"
                        />
                        <ul class="autocomplete-dropdown hidden"></ul>
                        <small
                          >Enter the full name of the exact preset used (e.g., 2
                          Sparklepad BT, LD King of Buzz 2).</small
                        >
                      </label>
                      <label
                        >Pack Name
                        <input
                          class="form-input"
                          type="text"
                          name="synths[0][presets][0][packName]"
                          autocomplete="off"
                          data-key="presetPack"
                        />
                        <ul class="autocomplete-dropdown hidden"></ul>
                        <small
                          >Provide the name of the preset pack. Leave blank for
                          built-in presets.</small
                        >
                      </label>
                      <label
                        >Author
                        <input
                          class="form-input"
                          type="text"
                          name="synths[0][presets][0][author]"
                          autocomplete="off"
                          data-key="presetAuthor"
                        />
                        <ul class="autocomplete-dropdown hidden"></ul>
                        <small
                          >Identify who created the preset or preset pack. Leave
                          blank for manufacturer, for factory presets.</small
                        >
                      </label>
                      <label
                        >Usage Type <span class="red">*</span>
                        <input
                          class="form-input"
                          pattern="^([A-Z][a-z]*)(\s[A-Z][a-z]*)*$"
                          required
                          title="First letter must be capitalized."
                          type="text"
                          name="synths[0][presets][0][usageType]"
                          autocomplete="off"
                          data-key="presetUsageType"
                        />
                        <ul class="autocomplete-dropdown hidden"></ul>
                        <small
                          >Describe how the preset was used (e.g., Lead, Pad,
                          Sequence).</small
                        >
                      </label>
                      <label
                        >Preset Audio (Optional)
                        <div class="custom-file-input">
                          <button type="button" class="browse-button">
                            Browse...
                          </button>
                          <span class="file-name">No file selected.</span>
                          <input
                            type="file"
                            name="synths[0][presets][0][audio]"
                            class="audioInput"
                            accept="audio/mpeg"
                          />
                        </div>
                        <small>
                          Upload a short <kbd>.mp3</kbd> audio clip
                          (approximately 4 bars) demonstrating how the preset is
                          used in the song. The clip should feature the melody
                          played
                          <strong>without any external effects</strong
                          >.<br /><br />

                          &bull; If external effects are essential, include 4
                          bars of the <strong>wet</strong> version (with
                          effects), followed by 4 bars of the
                          <strong>dry</strong> version (without effects).<br />
                          &bull; If the same preset is used for multiple
                          melodies in the song, include all relevant sections in
                          the same clip, one after another.<br />
                          &bull; If you're unsure how to do this or find these
                          instructions unclear, you may leave this field blank.
                        </small>
                      </label>
                    </div>
                  </div>

                  <button
                    type="button"
                    class="add-preset-btn"
                    data-synth-index="0"
                  >
                    + Add Another Preset
                  </button>
                </div>

                <hr class="hr--btns" />

                <button type="button" class="add-synth-btn">
                  + Add Another Synth
                </button>
              </fieldset>

              <div class="btn-container">
                <button class="submit-btn" type="submit">Submit Entry</button>
                <button class="clear-btn" type="reset">Clear form</button>
              </div>
            </form>
          </section>
        </main>
      </div>
      <%- include('../../partials/footer') %>
    </div>
  </body>
  <%- include('../../partials/scroll-to-top') %>
</html>
