<!DOCTYPE html>
<html>
  <head>
    <title><%= album.album_title %> &mdash; Details</title>
    <script src="/js/entries/entry.js" defer></script>
    <link rel="stylesheet" href="/styles/entries/album.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <section class="entry-main--container">
            <div class="entry--columns">
              <!-- Left -->
              <div class="entry--left">
                <!-- Title -->
                <div class="entry--title-container">
                  <div class="entry--img-container">
                    <img
                      src="/uploads/images/approved/<%= album.image_url %>"
                      alt="<%= album.album_title %>"
                      class="entry--img"
                    />
                  </div>
                  <div class="entry--title-bottom">
                    <a
                      class="entry--secondary"
                      href="/artist/<%= album.artist.id %>"
                      ><%= album.artist.name %></a
                    >
                    <span class="entry--primary"><%= album.album_title %></span>
                  </div>
                </div>
                <!-- More info -->
                <div class="entry--more-info-container">
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i class="fa-solid fa-calendar entry--more-info-icon"></i>
                    </div>
                    <span class="entry--tertiary"><%= album.album_year %></span>
                  </div>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i
                        class="fa-solid fa-masks-theater entry--more-info-icon"
                      ></i>
                    </div>
                    <span class="entry--tertiary"
                      ><%= album.album_genre %></span
                    >
                  </div>
                </div>
                <% if (moreAlbums.length) { %>
                <div class="more-albums--container">
                  <div class="more-albums--header">
                    <span class="more-albums--header-title"
                      >More albums by <%= album.artist.name %></span
                    >
                  </div>
                  <div class="more-albums--entry-container">
                    <% moreAlbums.forEach((album) => { %>
                    <a
                      class="more-albums--entry"
                      href="/album/<%= album.album_id %>"
                    >
                      <img
                        src="/uploads/images/approved/<%= album.image_url %>"
                        alt="<%= album.album_title %>"
                        class="more-albums--img"
                      />
                      <span class="more-albums--album-title"
                        ><%= album.album_title %></span
                      >
                    </a>
                    <% }) %>
                  </div>
                </div>
                <% } %>
              </div>
              <!-- Right -->
              <div class="entry--right">
                <h2 class="heading-secondary">Songs</h2>
                <div class="entry-filter--container">
                  <div class="entry-filter">
                    <input
                      type="text"
                      placeholder="Filter presets"
                      class="entry-filter--input"
                    />
                    <i class="fa-solid fa-xmark entry-filter--clear"></i>
                  </div>
                </div>
                <!-- Song list -->
                <div class="list-section">
                  <div class="list-entry-columns grid-layout--songs">
                    <span>#</span>
                    <span>Title</span>
                    <span class="header-label-genre">Genre</span>
                    <span class="header-label-year">Year</span>
                  </div>
                  <% Object.entries(album.songs).forEach(([i, song]) => { %>
                  <a
                    href="/song/<%= song.id %>"
                    class="grid-layout--songs list-entry"
                  >
                    <span class="list-entry--number"><%= +i + 1 %></span>
                    <div class="list-entry--title-container">
                      <img
                        src="/uploads/images/approved/<%= song.image_url %>"
                        class="list-entry--img"
                      />
                      <span class="list-entry--primary"><%= song.title %></span>
                    </div>
                    <span class="--tag"><%= song.song_genre %></span>
                    <span class="list-entry--quaternary"
                      ><%= song.song_year %></span
                    >
                  </a>
                  <% }) %>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
