<!DOCTYPE html>
<html>
  <head>
    <title><%= artist.artist_name %> &mdash; Details</title>
    <script src="/js/entries/entry.js" defer></script>
    <link rel="stylesheet" href="/styles/entries/artist.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <section class="entry-main--container">
            <div class="entry--columns">
              <!-- Left -->
              <div class="entry--left">
                <!-- Title -->
                <div class="entry--title-container">
                  <div class="entry--img-container">
                    <img
                      src="<%= artist.image_url %>"
                      alt="<%= artist.artist_name %>"
                      class="entry--img"
                    />
                  </div>
                  <div class="entry--title-bottom">
                    <span class="entry--primary"
                      ><%= artist.artist_name %></span
                    >
                  </div>
                </div>
                <!-- More info -->
                <div class="entry--more-info-container">
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i
                        class="fa-solid fa-earth-americas entry--more-info-icon"
                      ></i>
                    </div>
                    <span class="entry--tertiary">
                      <%= artist.artist_country %>
                    </span>
                  </div>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i class="fa-solid fa-hashtag entry--more-info-icon"></i>
                    </div>
                    <span class="entry--tertiary"><%= totalSongs %> songs</span>
                  </div>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i class="fa-solid fa-star entry--more-info-icon"></i>
                    </div>
                    <span class="entry--tertiary"
                      >Favorite synth:
                      <a href="/synth/<%= favoriteSynth.synth_id %>">
                        <%= favoriteSynth.synth_name %>
                      </a>
                    </span>
                  </div>
                </div>
                <% if (albums.length) { %>
                <div class="albums--container">
                  <div class="albums--header">
                    <span class="albums--header-title"
                      >Albums by <%= artist.artist_name %></span
                    >
                  </div>
                  <div class="albums--entry-container">
                    <% albums.forEach((album) => { %>
                    <a
                      class="albums--entry"
                      href="/album/<%= album.album_id %>"
                    >
                      <img
                        src="<%= album.image_url %>"
                        alt="<%= album.album_title %>"
                        class="albums--img"
                      />
                      <span class="albums--album-title"
                        ><%= album.album_title %></span
                      >
                    </a>
                    <% }) %>
                  </div>
                </div>
                <% } %>
              </div>
              <!-- Right -->
              <div class="entry--right">
                <h2 class="heading-secondary">Songs</h2>
                <div class="entry-filter--container">
                  <div class="entry-filter">
                    <input
                      type="text"
                      placeholder="Filter songs"
                      class="entry-filter--input"
                    />
                    <i class="fa-solid fa-xmark entry-filter--clear"></i>
                  </div>
                </div>
                <!-- Songs list -->
                <div class="list-section">
                  <div class="list-entry-columns grid-layout--songs">
                    <span>#</span>
                    <span>Title</span>
                    <span>Album</span>
                    <span class="header-label-genre">Genre</span>
                    <span class="header-label-year">Year</span>
                  </div>
                  <% Object.entries(artist.songs).forEach(([i, song]) => { %>
                  <a
                    href="/song/<%= song.id %>"
                    class="grid-layout--songs list-entry"
                  >
                    <span class="list-entry--number"><%= +i + 1 %></span>
                    <div class="list-entry--title-container">
                      <img
                        src="<%= song.image_url %>"
                        class="list-entry--img"
                      />
                      <span class="list-entry--primary"><%= song.title %></span>
                    </div>
                    <span class="list-entry--tertiary"
                      ><%= song.album_title === "[SINGLE]" ? "Single" :
                      song.album_title %></span
                    >
                    <span class="--tag"><%= song.song_genre %></span>
                    <span class="list-entry--quaternary"
                      ><%= song.song_year %></span
                    >
                  </a>
                  <% }) %>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
