<!DOCTYPE html>
<html>
  <head>
    <title><%= song.song_title %> &mdash; Details</title>
    <script src="/js/entries/entry.js" defer></script>
    <link rel="stylesheet" href="/styles/entries/song.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <section class="entry-main--container">
            <div class="entry--columns">
              <!-- Left -->
              <div class="entry--left">
                <!-- Title -->
                <div class="entry--title-container">
                  <div class="entry--img-container">
                    <img
                      src="<%= song.image_url %>"
                      alt="<%= song.song_title %>"
                      class="entry--img"
                    />
                  </div>
                  <div class="entry--title-bottom">
                    <a
                      class="entry--secondary"
                      href="/artist/<%= song.artists.find(a => a.role === 'Main').id %>"
                      ><%= song.artists.find(a => a.role === "Main").name %></a
                    >
                    <span class="entry--primary"><%= song.song_title %></span>
                  </div>
                </div>
                <!-- More info -->
                <div class="entry--more-info-container">
                  <% const others = song.artists.filter(a => a.role !== "Main");
                  %> <% if (others.length) { %>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i class="fa-solid fa-user entry--more-info-icon"></i>
                    </div>
                    <div class="entry--all-artists">
                      <span class="entry--tertiary">
                        <% others.forEach((a, index) => { %>
                        <a href="/artist/<%= a.id %>" class="entry--tertiary"
                          ><%= a.name %></a
                        ><%= index < others.length - 1 ? ', ' : '' %> <% }) %>
                      </span>
                    </div>
                  </div>
                  <% } %>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i
                        class="fa-solid fa-record-vinyl entry--more-info-icon"
                      ></i>
                    </div>
                    <% if (song.album.title === "[SINGLE]") { %>
                    <span class="entry--tertiary">Single</span>
                    <% } else { %>
                    <a
                      class="entry--tertiary"
                      href="/album/<%= song.album.id %>"
                      ><%= song.album.title %></a
                    >
                    <% } %>
                  </div>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i class="fa-solid fa-calendar entry--more-info-icon"></i>
                    </div>
                    <span class="entry--tertiary"><%= song.song_year %></span>
                  </div>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i
                        class="fa-solid fa-masks-theater entry--more-info-icon"
                      ></i>
                    </div>
                    <span class="entry--tertiary"><%= song.song_genre %></span>
                  </div>
                </div>
                <% if (moreSongs.length) { %>
                <div class="more-songs--container">
                  <div class="more-songs--header">
                    <span class="more-songs--header-title"
                      >More songs by <%= song.artists.find(a => a.role ===
                      "Main").name %></span
                    >
                  </div>
                  <div class="more-songs--entry-container">
                    <% moreSongs.forEach((song) => { %>
                    <a
                      class="more-songs--entry"
                      href="/song/<%= song.song_id %>"
                    >
                      <img
                        src="<%= song.image_url %>"
                        alt="<%= song.song_title %>"
                        class="more-songs--img"
                      />
                      <span class="more-songs--song-title"
                        ><%= song.song_title %></span
                      >
                    </a>
                    <% }) %>
                  </div>
                </div>
                <% } %>
                <a
                  class="entry-open-in-new"
                  href="<%= song.song_url %>"
                  target="_blank"
                >
                  <span class="entry-open-in-new-text"
                    >Open song in new tab</span
                  >
                  <i
                    class="fa-solid fa-arrow-up-right-from-square entry-open-in-new-icon"
                  ></i>
                </a>
              </div>
              <!-- Right -->
              <div class="entry--right">
                <h2 class="heading-secondary">Presets</h2>
                <div class="entry-filter--container">
                  <div class="entry-filter">
                    <input
                      type="text"
                      placeholder="Filter presets"
                      class="entry-filter--input"
                    />
                    <i class="fa-solid fa-xmark entry-filter--clear"></i>
                  </div>
                </div>
                <!-- Preset list -->
                <div class="list-section">
                  <div class="list-entry-columns grid-layout--list">
                    <span>#</span>
                    <span>Preset</span>
                    <span class="preview-header-text-synth">Synth</span>
                    <span class="preview-header-text-usage-type"
                      >Usage Type</span
                    >
                    <span class="preview-header-text-preview">Preview</span>
                  </div>
                  <% Object.entries(song.presets).forEach(([i, preset]) => { %>
                  <div class="grid-layout--list preset-list-entry">
                    <span class="list-entry--number"><%= +i + 1 %></span>
                    <div class="list-entry--title-container">
                      <img
                        src="<%= preset.synth_image %>"
                        class="list-entry--img"
                      />
                      <span class="list-entry--primary"
                        ><%= preset.name %></span
                      >
                    </div>
                    <a
                      href="/synth/<%= preset.synth_id %>"
                      class="list-entry--secondary"
                      ><%= preset.synth_name %></a
                    >
                    <span class="list-entry--tertiary"
                      ><%= preset.usage_type %></span
                    >
                    <div class="preset-entry-btn-container">
                      <i
                        class="fa-solid fa-circle-play preset-entry--play-btn"
                      ></i>
                      <i
                        class="fa-solid fa-circle-stop preset-entry--play-btn-active hide"
                      ></i>
                    </div>
                    <audio
                      class="preset--audio"
                      src="/assets/audio/<%= preset.song_presets_id %>.mp3"
                    ></audio>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
