<!DOCTYPE html>
<html>
  <head>
    <title><%= synth.synth_name %> &mdash; Details</title>
    <script src="/js/entries/entry.js" defer></script>
    <link rel="stylesheet" href="/styles/entries/synth.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <section class="entry-main--container">
            <div class="entry--columns">
              <!-- Left -->
              <div class="entry--left">
                <!-- Title -->
                <div class="entry--title-container">
                  <div class="entry--img-container">
                    <img
                      src="/uploads/images/approved/<%= synth.image_url %>"
                      alt="<%= synth.synth_name %>"
                      class="entry--img"
                    />
                  </div>
                  <div class="entry--title-bottom">
                    <span class="entry--secondary"
                      ><%= synth.manufacturer %></span
                    >
                    <span class="entry--primary"><%= synth.synth_name %></span>
                  </div>
                </div>
                <!-- More info -->
                <div class="entry--more-info-container">
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i class="fa-solid fa-gear entry--more-info-icon"></i>
                    </div>
                    <span class="entry--tertiary">
                      <%= synth.synth_type %>
                    </span>
                  </div>
                  <div class="entry--more-info-section">
                    <div class="icon-wrapper">
                      <i class="fa-solid fa-calendar entry--more-info-icon"></i>
                    </div>
                    <span class="entry--tertiary">
                      <%= synth.synth_year %>
                    </span>
                  </div>
                </div>
                <% if (moreSynths.length) { %>
                <div class="more-synths--container">
                  <div class="more-synths--header">
                    <span class="more-synths--header-title"
                      >More synths by <%= synth.manufacturer %></span
                    >
                  </div>
                  <div class="more-synths--entry-container">
                    <% moreSynths.forEach((s) => { %>
                    <a
                      class="more-synths--entry"
                      href="/synth/<%= s.synth_id %>"
                    >
                      <img
                        src="/uploads/images/approved/<%= s.image_url %>"
                        alt="<%= s.synth_name %>"
                        class="more-synths--img"
                      />
                      <span class="more-synths--synth-name"
                        ><%= s.synth_name %></span
                      >
                    </a>
                    <% }) %>
                  </div>
                </div>
                <% } %>
              </div>
              <!-- Right -->
              <div class="entry--right">
                <h2 class="heading-secondary">Presets</h2>
                <div class="entry-filter--container">
                  <div class="entry-filter">
                    <input
                      type="text"
                      placeholder="Filter presets"
                      class="entry-filter--input"
                    />
                    <i class="fa-solid fa-xmark entry-filter--clear"></i>
                  </div>
                </div>
                <!-- Preset list -->
                <div class="list-section">
                  <div class="list-entry-columns grid-layout--presets-synth">
                    <span>#</span>
                    <span>Name</span>
                    <span class="header-label-pack">Pack</span>
                    <span class="header-label-author">Author</span>
                  </div>
                  <% Object.entries(synth.presets).forEach(([i, preset]) => { %>
                  <div class="grid-layout--presets-synth list-entry">
                    <span class="list-entry--number"><%= +i + 1 %></span>
                    <div class="list-entry--title-container">
                      <img
                        src="/uploads/images/approved/<%= synth.image_url %>"
                        class="list-entry--img"
                      />
                      <span class="list-entry--primary"
                        ><%= preset.name %></span
                      >
                    </div>
                    <span class="list-entry--tertiary list-entry--pack-name"
                      ><%= preset.pack_name %></span
                    >
                    <span class="list-entry--tertiary list-entry--author"
                      ><%= preset.preset_author %></span
                    >
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
