<!DOCTYPE html>
<html>
  <head>
    <title>PresetBase &mdash; Popular songs</title>
    <script src="/js/browse/browse-results.js" defer></script>
    <link rel="stylesheet" href="/styles/main/search-results.css" />
    <link rel="stylesheet" href="/styles/browse/browse-results.css" />
    <%- include('../../partials/html-head') %>
    <style id="dynamic-tag-styles">
      <%- genreStyles %>
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ----------------------------- No results ------------------------------ -->
        <% if (!totalResults) { %>
        <div class="no-results--container">
          <i class="fa-solid fa-ban no-results--icon"></i>
          <span class="no-results--text">No songs found</span>
        </div>
        <% } else { %>
        <!-- ------------------------------ Main page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="browse-results--header">
            <div class="browse-results-header--top">
              <h1 class="heading-primary">Popular Songs</h1>
            </div>
            <div class="browse-results-header--bottom">
              <div class="browse-results-result-filter--container">
                <div
                  id="view-toggle"
                  class="browse-results--view-mode-container"
                  data-mode="list"
                >
                  <div class="toggle-slider"></div>
                  <div class="toggle-option" data-view="list">
                    <i class="fa-solid fa-list-ul toggle-icon"></i>
                  </div>
                  <div class="toggle-option" data-view="grid">
                    <i class="fa-solid fa-square toggle-icon"></i>
                  </div>
                </div>
                <div class="browse-results-result-filter">
                  <input
                    type="text"
                    placeholder="Filter results"
                    class="browse-results-filter--input"
                  />
                  <i class="fa-solid fa-xmark result-filter--clear"></i>
                </div>
              </div>
              <div class="browse-results---select-container">
                <i class="fa-solid fa-sort sort-icon"></i>
              </div>
            </div>
          </section>
          <!-- ------------------------------ List View ------------------------------ -->
          <%- include('../../partials/skeleton-list') %>
          <section class="search-results-list--container">
            <div class="search-results--section">
              <div class="result-columns grid-layout--songs">
                <span>#</span>
                <span>Title</span>
                <span>Album</span>
                <span>Genre</span>
                <span>Year</span>
              </div>
              <% Object.entries(songs).forEach(([i, song]) => { %>
              <a
                href="/song/<%= song.song_id %>"
                class="grid-layout--songs result-entry"
              >
                <span class="result-entry--number"><%= +i + 1 %></span>
                <div class="result-entry--title-container">
                  <div class="result-entry--img-container">
                    <img
                      src="/uploads/images/approved/<%= song.song_image %>"
                      class="result-entry--img"
                    />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-star-icon lucide-star glass-gradient status-icon--small"
                    >
                      <path
                        d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                      />
                    </svg>
                  </div>
                  <div class="result-entry--title">
                    <span class="result-entry--secondary">
                      <%= song.artist_name %></span
                    >
                    <span class="result-entry--primary"
                      ><%= song.song_title %></span
                    >
                  </div>
                </div>
                <span class="result-entry--tertiary"
                  ><%= song.album_title === "[SINGLE]" ? "Single" :
                  song.album_title %></span
                >
                <span class="--tag"><%= song.song_genre %></span>
                <span class="result-entry--quaternary"
                  ><%= song.song_release_year %></span
                >
              </a>
              <% }) %>
            </div>
          </section>

          <!-- ------------------------------ Grid View ------------------------------ -->
          <section class="search-results-grid--container hidden">
            <div class="grid-layout--card">
              <% Object.entries(songs).forEach(([i, song]) => { %>
              <div class="card-entry">
                <div class="card-entry--img-container">
                  <img
                    src="/uploads/images/approved/<%= song.song_image %>"
                    class="card-entry--img"
                  />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-star-icon lucide-star glass-gradient status-icon--large"
                  >
                    <path
                      d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                    />
                  </svg>
                </div>
                <div class="card-entry--info-container">
                  <div class="card-entry--title-container">
                    <a
                      href="/artist/<%= song.artist_id %>"
                      class="card-entry--secondary"
                      ><%= song.artist_name %></a
                    >
                    <span class="card-entry--primary"
                      ><%= song.song_title %></span
                    >
                  </div>
                  <div class="card-entry--album-container">
                    <div class="card-entry--album-title-container">
                      <i class="fa-solid fa-record-vinyl card-entry--icon"></i>
                      <% if (song.album_title === "[SINGLE]") { %>
                      <span class="card-entry--tertiary">Single</span>
                      <% } else { %>
                      <a
                        href="/album/<%= song.album_id %>"
                        class="card-entry--tertiary"
                        ><%= song.album_title %></a
                      >
                      <% } %>
                    </div>
                    <div class="card-entry--year-container">
                      <i class="fa-solid fa-calendar card-entry--icon"></i>
                      <span class="card-entry--quaternary"
                        ><%= song.song_release_year %></span
                      >
                    </div>
                  </div>
                  <div class="card-entry--tag-container">
                    <span class="--tag--small"><%= song.song_genre %></span>
                  </div>
                  <div class="card-entry--footer">
                    <span class="card-entry--added"
                      >Added: <%= song.song_added_timestamp %></span
                    >
                    <a
                      href="/song/<%= song.song_id %>"
                      class="card-entry--more-details"
                    >
                      <span>More details</span
                      ><i
                        class="fa-solid fa-arrow-up-right-from-square card-entry--icon-small"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </section>
          <% } %>
        </main>
      </div>
      <%- include('../../partials/footer') %>
    </div>
  </body>
  <%- include('../../partials/scroll-to-top') %>
</html>
