<!DOCTYPE html>
<html>
  <head>
    <title>PresetBase &mdash; All synths</title>
    <script src="/js/browse/browse-results--synths.js" defer></script>
    <link rel="stylesheet" href="/styles/main/search-results.css" />
    <link rel="stylesheet" href="/styles/browse/browse-results.css" />
    <%- include('../../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ----------------------------- No results ------------------------------ -->
        <% if (!totalResults) { %>
        <div class="no-results--container">
          <i class="fa-solid fa-ban no-results--icon"></i>
          <span class="no-results--text">No synths found</span>
        </div>
        <% } else { %>
        <!-- ------------------------------ Main page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="browse-results--header">
            <div class="browse-results-header--top">
              <h1 class="heading-primary">All synths</h1>
              <span class="results-count"><%= totalResults %> synths</span>
            </div>
            <div class="browse-results-header--bottom">
              <div class="browse-results-result-filter--container">
                <div
                  id="view-toggle"
                  class="browse-results--view-mode-container"
                  data-mode="list"
                >
                  <div class="toggle-slider"></div>
                  <div class="toggle-option" data-view="list">
                    <i class="fa-solid fa-list-ul toggle-icon"></i>
                  </div>
                  <div class="toggle-option" data-view="grid">
                    <i class="fa-solid fa-square toggle-icon"></i>
                  </div>
                </div>
                <div class="browse-results-result-filter">
                  <input
                    type="text"
                    placeholder="Filter results"
                    class="browse-results-filter--input"
                  />
                  <i class="fa-solid fa-xmark result-filter--clear"></i>
                </div>
              </div>
              <div class="browse-results---select-container">
                <select name="sort" class="browse-results--sort-select">
                  <option value="" selected disabled hidden>Sort</option>
                  <option value="name">Name</option>
                  <option value="manufacturer">Manufacturer</option>
                  <option value="type">Type</option>
                  <option value="year">Year</option>
                  <option value="added">Date Added</option>
                </select>
                <i class="fa-solid fa-sort sort-icon"></i>
              </div>
            </div>
          </section>
          <!-- ------------------------------ List View ------------------------------ -->
          <%- include('../../partials/skeleton-list') %>
          <section class="search-results-list--container">
            <div class="search-results--section">
              <div class="result-columns grid-layout--synths">
                <span>#</span>
                <span>Synth</span>
                <span>Manufacturer</span>
                <span>Type</span>
                <span>Year</span>
              </div>
              <% Object.entries(synths).forEach(([i, synth]) => { %>
              <a
                href="/synth/<%= synth.synth_id %>"
                class="grid-layout--synths result-entry"
              >
                <span class="result-entry--number"><%= +i + 1 %></span>
                <div class="result-entry--title-container">
                  <img
                    src="<%= synth.synth_image %>"
                    class="result-entry--img"
                  />
                  <span class="result-entry--primary"
                    ><%= synth.synth_name %></span
                  >
                </div>
                <span class="result-entry--secondary"
                  ><%= synth.synth_manufacturer %></span
                >
                <span class="--tag"><%= synth.synth_type %></span>
                <span class="result-entry--quaternary"
                  ><%= synth.synth_release_year %></span
                >
              </a>
              <% }) %>
            </div>
          </section>

          <!-- ------------------------------ Grid View ------------------------------ -->
          <section class="search-results-grid--container hide">
            <div class="grid-layout--card">
              <% Object.entries(synths).forEach(([i, synth]) => { %>
              <div class="card-entry">
                <img src="<%= synth.synth_image %>" class="card-entry--img" />
                <div class="card-entry--info-container">
                  <div class="card-entry--title-container">
                    <span class="card-entry--secondary"
                      ><%= synth.synth_manufacturer %></span
                    >
                    <span class="card-entry--primary"
                      ><%= synth.synth_name %></span
                    >
                  </div>
                  <div class="card-entry--synth-bottom-container">
                    <div class="card-entry--year-container">
                      <i class="fa-solid fa-calendar card-entry--icon"></i>
                      <span class="card-entry--quaternary"
                        ><%= synth.synth_release_year %></span
                      >
                    </div>
                    <div class="card-entry--tag-container">
                      <span class="--tag--small"><%= synth.synth_type %></span>
                    </div>
                  </div>
                  <div class="card-entry--footer">
                    <span class="card-entry--added"
                      >Added: <%= synth.synth_added_timestamp %></span
                    >
                    <a
                      href="/synth/<%= synth.synth_id %>"
                      class="card-entry--more-details"
                    >
                      <span>More details</span
                      ><i
                        class="fa-solid fa-arrow-up-right-from-square card-entry--icon-small"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </section>
          <% } %>
        </main>
      </div>
      <%- include('../../partials/footer') %>
    </div>
  </body>
  <%- include('../../partials/scroll-to-top') %>
</html>
