<!DOCTYPE html>
<html>
  <head>
    <title>PresetBase &mdash; Browse"</title>
    <script src="/js/main/browse.js" defer></script>
    <link rel="stylesheet" href="/styles/main/browse.css" />
    <%- include('../partials/html-head') %>
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/navbar') %>
      <div class="content-wrapper">
        <!-- ------------------------------ Main Page ------------------------------ -->
        <main class="container">
          <!-- ------------------------------- Header -------------------------------- -->
          <section class="browse--header">
            <h1 class="heading-primary">Browse</h1>
          </section>
          <!-- --------------------------- Browse Section ---------------------------- -->
          <section class="browse-main--container">
            <div class="hot-songs-container">
              <div class="hot-songs-header">
                <h2 class="heading-secondary">Hot songs</h2>
                <a href="/browse/hot" class="browse-view-all-link">View all</a>
              </div>
              <!-- Carousel -->
              <div class="hot-songs-carousel">
                <div class="hot-songs-carousel--track">
                  <% Object.entries(hot).forEach(([i, song]) => { %>
                  <a
                    href="/song/<%= song.song_id %>"
                    class="hot-song--carousel-item"
                  >
                    <img
                      src="<%= song.song_image %>"
                      alt="Hot Song Image"
                      class="hot-song--img"
                    />
                    <div class="hot-song--card-right">
                      <span class="hot-song--artist"
                        ><%= song.artist_name %></span
                      >
                      <span class="hot-song--title"
                        ><%= song.song_title %></span
                      >
                      <span class="hot-song--album"
                        ><%= song.album_title === "[SINGLE]" ? "Single" :
                        song.album_title %></span
                      >
                      <span class="hot-song--year"
                        ><%= song.song_release_year %></span
                      >
                    </div>
                  </a>
                  <% }) %>
                </div>
                <div class="hot-songs-carousel--nav">
                  <button class="carousel--nav-dot nav-dot--active"></button>
                  <button class="carousel--nav-dot"></button>
                  <button class="carousel--nav-dot"></button>
                </div>
              </div>
            </div>

            <!-- Top Catergories Cards -->
            <div class="top-categories-header">
              <h2 class="heading-secondary">Top categories</h2>
              <a href="#browseAllCategories" class="browse-view-all-link"
                >View more</a
              >
            </div>
            <div class="browse-top-category-container">
              <a href="/browse/songs" class="top-category-card">
                <i class="fa-solid fa-music top-category-icon"></i>
                <span class="top-category-text">Songs</span>
              </a>
              <a href="/browse/artists" class="top-category-card">
                <i class="fa-solid fa-user top-category-icon"></i>
                <span class="top-category-text">Artists</span>
              </a>
              <a href="/browse/synths" class="top-category-card">
                <i class="fa-solid fa-keyboard top-category-icon"></i>
                <span class="top-category-text">Synths</span>
              </a>
            </div>

            <!--  -->
          </section>
        </main>
      </div>
      <%- include('../partials/footer') %>
    </div>
  </body>
  <%- include('../partials/scroll-to-top') %>
</html>
